.course-card {
  border: 1px solid lightskyblue;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(251, 246, 246);
}

.card-body {
  margin-top: 1rem;
  width: 30%;
}

.information {
  margin-bottom: 0.5rem;
}

.course-card section {
  width: 60%;
}

.course-card button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.course-card span {
  font-weight: bold;
}

.course-card h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.course-card .authors-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
