.header {
    border: 1px solid rgb(240, 155, 155);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.user-name {
    font-weight: bold;
    margin: 2rem;
}

.header-body {
    display: flex;
    height: 2rem;
    align-items: center;
}