.header {
    border: 1px solid rgb(240, 155, 155);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: rgb(251, 246, 246);
    position: sticky;
    top: 0;
}

.header p {
    font-weight: bold;
    margin: 30px;
}

.header > div {
    display: flex;
    height: 30px;
    align-items: center;
}