* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
